.name{
    border: 2px solid black;
    padding: 3px;
    background-color: aliceblue;
}

.ftPerfil{
    width: 150px;
    height: 150px;
    border-radius: 100px;
}

header{
    display: flex;
}

span{
    text-transform: capitalize;
}

section{
    width: 15%;
    background-color: green;
}

aside{
    width: 85%;
    background-color: black;
}